{% extends 'layout.html' %}
{% block title %}packages{% endblock %}
{% block head %}
{% parent %}
    <!-- build:css css/page_packages.css -->
    <link rel="stylesheet" href="/public_dev/css/packages.css">
    <!-- endbuild -->
{% endblock %}
{% block content %}
<div class="container packages">
    <div class="packages-cate">
        <span class="packages-cate-label">类 别:</span>
        <span class="packages-cate-items">
            <a href="javascript:;" data-cate="" class="tag packages-cate-on">不限</a>
            <a href="javascript:;" data-cate="" class="tag">写真</a>
            <a href="javascript:;" data-cate="" class="tag">婚纱</a>
            <a href="javascript:;" data-cate="" class="tag">亲子</a>
            <a href="javascript:;" data-cate="" class="tag">孕照</a>
            <a href="javascript:;" data-cate="" class="tag">私房</a>
            <a href="javascript:;" data-cate="" class="tag">肖像照</a>
            <a href="javascript:;" data-cate="" class="tag">旅拍</a>
            <a href="javascript:;" data-cate="" class="tag">其他</a>
        </span>
    </div>
    <div class="packages-city">
        <span class="packages-city-label">拍摄地:</span>
        <span class="packages-city-items">
            <a href="javascript:;" data-loc="" class="tag packages-city-on">不限</a>
            <a href="javascript:;" data-loc="" class="tag">北京</a>
            <a href="javascript:;" data-loc="" class="tag">上海</a>
            <a href="javascript:;" data-loc="" class="tag">深圳</a>
            <a href="javascript:;" data-loc="" class="tag">广州</a>
            <a href="javascript:;" data-loc="" class="tag">杭州</a>
            <a href="javascript:;" data-loc="" class="tag">成都</a>
            <a href="javascript:;" data-loc="" class="tag">武汉</a>
            <a href="javascript:;" data-loc="" class="tag">厦门</a>
            <a href="javascript:;" data-loc="" class="tag">南京</a>
            <a href="javascript:;" data-loc="" class="tag">西安</a>
            <a href="javascript:;" data-loc="" class="tag">苏州</a>
            <a href="javascript:;" data-loc="" class="tag">天津</a>
            <a href="javascript:;" data-loc="" class="tag">长沙</a>
            <a href="javascript:;" data-loc="" class="tag">重庆</a>
            <a href="javascript:;" data-loc="" class="tag">郑州</a>
            <a href="javascript:;" data-loc="" class="tag">昆明</a>
            <a href="javascript:;" data-loc="" class="tag">福州</a>
            <a href="javascript:;" data-loc="" class="tag">大理</a>
            <a href="javascript:;" data-loc="" class="tag">南宁</a>
            <a href="javascript:;" data-loc="" class="tag">珠海</a>
            <a href="javascript:;" data-loc="" class="tag">青岛</a>
            <a href="javascript:;" data-loc="" class="tag">东莞</a>
            <a href="javascript:;" data-loc="" class="tag">兰州</a>
            <a href="javascript:;" data-loc="" class="tag">香港</a>
            <a href="javascript:;" data-loc="" class="tag">沈阳</a>
            <a href="javascript:;" data-loc="" class="tag">宁波</a>
            <a href="javascript:;" data-loc="" class="tag">开封</a>
            <a href="javascript:;" data-loc="" class="tag">丽江</a>
            <a href="javascript:;" data-loc="" class="tag">大连</a>
        </span>
    </div>
    <div class="packages-filter">
        <span class="packages-filter-label">筛 选:</span>
        <span class="packages-filter-items">
            <a href="javascript:;" data-type="" class="tag packages-filter-on">不限</a>
            <a href="javascript:;" data-type="" class="tag">有优惠</a>
            <a href="javascript:;" data-type="" class="tag">最受欢迎</a>
            <a href="javascript:;" data-type="" class="tag">小拍推荐</a>
        </span>
    </div>
    <div class="packages-pkg-list-title">
        <h1>全部套系</h1>
    </div>
    <div class="packages-pkg-list">
        <ul>
            <li>
                <a href="" class="lnk-pic-card" target="_blank">
                    <div class="slot-img">
                        <img src="" alt="">
                    </div>
                    <div class="slot-bd">
                        <h3 class="title">
                            <span class="package-type">[亲子]</span>
                            <span>复古全家福</span>
                        </h3>
                        <div class="price">
                            <span class="collected-num">164人想拍</span>
                            <span class="price-value">￥3980-7580</span>
                        </div>
                        <span class="loc">北京</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="lnk-pic-card" target="_blank">
                    <div class="slot-img">
                        <img src="" alt="">
                    </div>
                    <div class="slot-bd">
                        <h3 class="title">
                            <span class="package-type">[亲子]</span>
                            <span>复古全家福</span>
                        </h3>
                        <div class="price">
                            <span class="collected-num">164人想拍</span>
                            <span class="price-value">￥3980-7580</span>
                        </div>
                        <span class="loc">北京</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="lnk-pic-card" target="_blank">
                    <div class="slot-img">
                        <img src="" alt="">
                    </div>
                    <div class="slot-bd">
                        <h3 class="title">
                            <span class="package-type">[亲子]</span>
                            <span>复古全家福</span>
                        </h3>
                        <div class="price">
                            <span class="collected-num">164人想拍</span>
                            <span class="price-value">￥3980-7580</span>
                        </div>
                        <span class="loc">北京</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block foot %}
{% parent %}
    <!-- build:js js/page_packages.js -->
    <script src="/public_dev/js/packages.js"></script>
    <!-- endbuild -->
{% endblock %}