{% extends 'layout.html' %}
{% block title %}packages{% endblock %}
{% block head %}
{% parent %}
    <!-- build:css css/page_photographer.css -->
    <link rel="stylesheet" href="/public_dev/css/photographer.css">
    <!-- endbuild -->
{% endblock %}
{% block content %}
<div class="container photoer">
    <h2 class="slogan">我们专注为你拍照</h2>
    <div class="quote">
        <blackquote>
            <q>不是拍下你看到的，是拍下你感受到的。</q>
            <div class="author">
                —大卫·艾伦·哈维
            </div>
      </blackquote>
    </div>
    <div class="loc-nav">
        <span class="loc-nav-items">
            <a href="javascript:;" data-loc="" class="loc loc-selected">全部</a>
            <a href="javascript:;" data-loc="" class="loc">北京</a>
            <a href="javascript:;" data-loc="" class="loc">上海</a>
            <a href="javascript:;" data-loc="" class="loc">杭州</a>
            <a href="javascript:;" data-loc="" class="loc">成都</a>
            <a href="javascript:;" data-loc="" class="loc">广州</a>
            <a href="javascript:;" data-loc="" class="loc">长沙</a>
            <a href="javascript:;" data-loc="" class="loc">厦门</a>
            <a href="javascript:;" data-loc="" class="loc">深圳</a>
            <a href="javascript:;" data-loc="" class="loc">南京</a>
            <a href="javascript:;" data-loc="" class="loc">武汉</a>
            <a href="javascript:;" data-loc="" class="loc">西安</a>
            <a href="javascript:;" data-loc="" class="loc">大理</a>
            <a href="javascript:;" data-loc="" class="loc">大连</a>
        </span>
    </div>
    <div class="mod mod-pgers">
        <ul>
            <li>
                <div class="pger-card">
                    <a href="" target="">
                        <div class="slot-bg-img">
                            <img src="https://qnypy.doubanio.com/201512041902467329__s">
                        </div>
                    </a>
                    <div class="slot-bd">
                        <div class="pic">
                            <a href="">
                                <img src="https://img1.doubanio.com/view/ypy_pger_avatar/small/public/381cbb6a67dff59.jpg">
                            </a>
                        </div>
                        <div class="name">
                            <a href="/baiye/">白夜照相馆 </a>
                            <span class="loc">(北京)</span>
                        </div>
                        <div class="update">
                            <a href="">133人评价</a>
                        </div>
                        <div class="signiture">"一家有温度的复古照相馆"</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pger-card">
                    <a href="" target="">
                        <div class="slot-bg-img">
                            <img src="https://qnypy.doubanio.com/201512041902467329__s">
                        </div>
                    </a>
                    <div class="slot-bd">
                        <div class="pic">
                            <a href="">
                                <img src="https://img1.doubanio.com/view/ypy_pger_avatar/small/public/381cbb6a67dff59.jpg">
                            </a>
                        </div>
                        <div class="name">
                            <a href="/baiye/">白夜照相馆 </a>
                            <span class="loc">(北京)</span>
                        </div>
                        <div class="update">
                            <a href="">133人评价</a>
                        </div>
                        <div class="signiture">"一家有温度的复古照相馆"</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="pger-card">
                    <a href="" target="">
                        <div class="slot-bg-img">
                            <img src="https://qnypy.doubanio.com/201512041902467329__s">
                        </div>
                    </a>
                    <div class="slot-bd">
                        <div class="pic">
                            <a href="">
                                <img src="https://img1.doubanio.com/view/ypy_pger_avatar/small/public/381cbb6a67dff59.jpg">
                            </a>
                        </div>
                        <div class="name">
                            <a href="/baiye/">白夜照相馆 </a>
                            <span class="loc">(北京)</span>
                        </div>
                        <div class="update">
                            <a href="">133人评价</a>
                        </div>
                        <div class="signiture">"一家有温度的复古照相馆"</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
{% block foot %}
{% parent %}
    <!-- build:js js/page_photographer.js -->
    <script src="/public_dev/js/photographer.js"></script>
    <!-- endbuild -->
{% endblock %}