.explore {
    width: 1070px;
    margin: 60px auto 0px;
}
.explore .mod {
    margin-bottom: 30px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.42;
}
.explore .tag {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 10px 10px 0;
    font-size: 14px;
    background: #cde3fa;
    border-radius: 5px;
    white-space: nowrap;
    line-height: 1;
}
.explore .tag em {
    margin-left: 5px;
    color: #aaa;
    font-size: 11px;
}
.explore .mod .hd {
    position: relative;
    margin-bottom: 15px;
    color: #555;
}
.explore .mod h2 {
    display: block;
    padding: 0;
    margin-bottom: 30px;
    color: #f66;
    font-size: 21px;
    border: none;
    text-align: center;
}
.explore .explore-result {
    width: 100%;
    margin-bottom: 60px;
    overflow: hidden;
}
.explore .explore-result ul {
    font-size: 0;
}
.explore .explore-result li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
}
.explore .explore-result .album-item {
    position: relative;
    width: 340px;
    height: 340px;
}
.explore .explore-result .album-item-a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.explore .explore-result .album-cover {
    transition: -webkit-transform .5s ease-in, -webkit-filter .5s;
    transition: transform .5s ease-in, -webkit-filter .5s;
}
.explore .explore-result .album-item-a img {
    width: 100%;
}
.explore .explore-result .album-title {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
}
.explore .explore-result .album-item-a .album-author {
    padding: 30px 0;
}
.explore .explore-result .album-item-a .album-author img {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}
.explore .explore-result .album-author-name {
    font-size: 13px;
}