.photoer {
    width: 1070px;
    margin: 60px auto 0px;
}
.photoer .slogan {
    text-align: center;
    margin-bottom: 10px;
    font-size: 21px;
}
.photoer .quote {
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.8;
}
.photoer .quote blackquote {
    display: inline-block;
    max-width: 500px;
    font-family: "arkitalic","Georgia Italic","Georgia-Italic","Georgia",STKaiti,"AR PL UKai","AR PL KaitiM GB",KaiTi,KaiTi_GB2312,"TW-Kai",cursive;
}
.photoer .quote blackquote q {
    font-size: 18px;
}
.photoer q::before {
    content: open-quote;
}
.photoer q::after {
    content: close-quote;
}
.photoer .quote .author {
    text-align: right;
    padding: 0 1em;
}
.photoer .loc-nav {
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
}
.photoer .loc-nav .loc {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 5px;
    font-size: 14px;
    background: #cde3fa;
    border-radius: 5px;
    white-space: nowrap;
    line-height: 1;
}
.photoer .loc-nav .loc-selected {
    background: #fff !important;
}
.photoer .mod {
    margin-bottom: 30px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.42;
}
.photoer .mod-pgers {
    margin-bottom: 80px;
}
.photoer .mod-pgers ul {
    margin: -30px 0 0 -20px;
    font-size: 0;
}
.photoer .mod-pgers ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 30px;
    width: 320px;
}
.photoer .mod-pgers .pger-card {
    position: relative;
    display: inline-block;
    width: 318px;
    overflow: hidden;
    border-radius: 2px;
    margin: 0 1px 1px 0;
    padding-top: 200px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}
.photoer .mod-pgers .pger-card .slot-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: 200px;
    overflow: hidden;
}
.photoer .mod-pgers .pger-card .slot-bg-img img {
    position: absolute;
    width: 100%;
    top: -1000px;
    bottom: -1000px;
    left: -1000px;
    right: -1000px;
    margin: auto;
}
.photoer .mod-pgers .pger-card .slot-bg-img img {
    width: auto;
    min-height: 100%;
    min-width: 100%;
}
.photoer .mod-pgers .pger-card .slot-bg-img:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, transparent 80%, rgba(0, 0, 0, 0.3) 100%);
}
.photoer .mod-pgers .pger-card .slot-bd {
    position: relative;
    z-index: 1;
    padding: 20px 0 30px;
    font-size: 14px;
    background: #f7f7f7;
    text-align: center;
    color: #333;
}
.photoer .mod-pgers .pger-card .slot-bd {
    padding-top: 0;
}
.photoer .mod-pgers .pger-card .pic {
    margin-bottom: 10px;
    font-size: 0;
}
.photoer .mod-pgers .pger-card .pic img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: -24px;
    border: 2px solid #f7f7f7;
}
.photoer .mod-pgers .pger-card .loc {
    font-size: 13px;
}
.photoer .mod-pgers .pger-card .update {
    margin-top: 5px;
    font-size: 12px;
    color: #888;
}
.photoer .mod-pgers .pger-card .signiture {
    margin-top: 10px;
    padding: 0 20px;
    font-size: 14px;
    font-family: "arkitalic","Georgia Italic","Georgia-Italic","Georgia",STKaiti,"AR PL UKai","AR PL KaitiM GB",KaiTi,KaiTi_GB2312,"TW-Kai",cursive;
}