{% extends 'layout.html' %}
{% block title %}packages{% endblock %}
{% block head %}
{% parent %}
    <link rel="stylesheet" href="css/page_explore.72e7eaf3.css">
{% endblock %}
{% block content %}
<div class="container explore">
    <div class="mod tags">
        <a href="javascript:;" class="tag">写真 <em>249</em></a>
        <a href="javascript:;" class="tag">少女 <em>188</em></a>
        <a href="javascript:;" class="tag">婚纱 <em>119</em></a>
        <a href="javascript:;" class="tag">清新 <em>107</em></a>
        <a href="javascript:;" class="tag">日系 <em>89</em></a>
        <a href="javascript:;" class="tag">自然 <em>79</em></a>
        <a href="javascript:;" class="tag">胶片 <em>59</em></a>
        <a href="javascript:;" class="tag">复古 <em>48</em></a>
        <a href="javascript:;" class="tag">情侣 <em>41</em></a>
        <a href="javascript:;" class="tag">私房 <em>31</em></a>
        <a href="javascript:;" class="tag">情绪 <em>30</em></a>
        <a href="javascript:;" class="tag">旅拍 <em>28</em></a>
        <a href="javascript:;" class="tag">小清新 <em>28</em></a>
        <a href="javascript:;" class="tag">儿童 <em>26</em></a>
        <a href="javascript:;" class="tag">汉服 <em>25</em></a>
        <a href="javascript:;" class="tag">女性 <em>25</em></a>
        <a href="javascript:;" class="tag">文艺 <em>24</em></a>
        <a href="javascript:;" class="tag">和服 <em>22</em></a>
    </div>
    <div class="mod">
        <div class="hd">
            <h2>婚纱‧旅拍客片</h2>
        </div>
        <div class="bd">
            <div class="explore-result">
                <ul>
                    <li>
                        <div class="album-item">
                            <a href="" class="album-item-a">
                                <img src="https://qnypy.doubanio.com/201609261703099733__sl" class="album-cover">
                                <div class="album-title">
                                    爱的泡泡
                                    <div class="album-author">
                                        <img src="https://img1.doubanio.com/view/ypy_pger_avatar/small/public/7b0eb7ea9552fca.jpg">
                                        <span class="album-author-name">摄影师: 夏天SUMMERPAPER (武汉)</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="album-item">
                            <a href="" class="album-item-a">
                                <img src="https://qnypy.doubanio.com/201609261703099733__sl" class="album-cover">
                                <div class="album-title">
                                    爱的泡泡
                                    <div class="album-author">
                                        <img src="https://img1.doubanio.com/view/ypy_pger_avatar/small/public/7b0eb7ea9552fca.jpg">
                                        <span class="album-author-name">摄影师: 夏天SUMMERPAPER (武汉)</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="album-item">
                            <a href="" class="album-item-a">
                                <img src="https://qnypy.doubanio.com/201609261703099733__sl" class="album-cover">
                                <div class="album-title">
                                    爱的泡泡
                                    <div class="album-author">
                                        <img src="https://img1.doubanio.com/view/ypy_pger_avatar/small/public/7b0eb7ea9552fca.jpg">
                                        <span class="album-author-name">摄影师: 夏天SUMMERPAPER (武汉)</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block foot %}
{% parent %}
    <script src="js/page_explore.d41d8cd9.js"></script>
{% endblock %}